body{
	
	font-size: 25%;
	background-image: url('img.jpg');
	
}

input{
	font-size: 20px;
}

form{
	padding-left:40%;
	padding-top: 20%;
}
label{
	font-size: 21px;
	padding-right: 10px;
	border-color: yellow;
}